spring:
  application:
    name: shopping-config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/xiaohuang915/shopping #配置文件地址
          search-paths: configuration #文件目录
      label: master #分支
server:
  port: 9006
eureka:
  client:
    service-url:
      defaultZone: http://localhost:9001/eureka/
management:
  endpoints:
    web:
      exposure:
        include: bus-refresh
